@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0; padding: 0;
  box-sizing: border-box; font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Gowun Batang', serif;
  background-color: grey;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #FFBE0F;
}


h2 {
  font-size: 1.5rem;
  color: #FFBE0F;
  line-height: 2;
}

a {
  color: #334257;
}

h3 {
  font-size: 1rem;
  color: #FFBE0F;
  font-weight: bold;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 7%;
  border-color: #FFBE0F;
  background-color: transparent;
  margin: auto;
  opacity: 1;
}
a:link {
   text-decoration: none;
 }

a:visited {
   text-decoration: none;
 }


a:hover {
   text-decoration: none;
 }


a:active {
   text-decoration: none;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #BD2000;
   position: fixed;
   width: 100%;
   z-index: 9;
   text-shadow: 4px 4px 8px #000000;
   box-shadow:  0 8px 8px 0 rgba(0, 0, 0, 0.3), 0 26px 20px 0 rgba(0, 0, 0, 0.3);
   height: 130px;
 }

 li {
   float: left;
   font-size: 20px;
   margin-top: 40px;
  }


  a {
    padding: 14px 16px;
    display: block;
    color: #FEF9EF;
    text-align: center;
    text-decoration: none;
  }



/********Class CSS Styles for All Pages*******/
.nav {
  height: 130px;

}

.nav-logo {
  float: left;
  margin-left: 50px;
  margin-top: 40px;
  height: 60px;
  width: 60px;
}

.nav-logo-2 {
  float: right;
  margin-right: 50px;
  margin-top: 40px;
  height: 60px;
  width: 60px;
}

.underlineEffects a {
  color: #FEF9EF;
  position: relative;
}

.underlineEffects .active {
  color: #FFBE0F;
}

.underlineEffects a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FEF9EF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underlineEffects a:hover:after {
  width: 100%;
  left: 0;
}


.right-side-nav-text
{
  position: relative;
}

.right {
  position: relative;
  float: right;
  margin-right: 25px;
}


.custom-hr {
  margin-top: 70px;
  width: 20%;
  margin-bottom: 70px;
}


.main-logo {
  height: 50px;
  width: 50px;
  margin: auto;
}

.middle {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-margin {
  margin-top: 20px;
}

.main-title {
  margin-top: 10px;
  text-shadow: 4px 4px 8px #000000, 8px 8px 10px #000000;
}

.nav-hr {
  width: 80%;
  border-color: #FEF9EF;
  background-color: transparent;
  margin: auto;
  opacity: 1;
  border-style: solid;
  border-radius: 5px;
}


/********Class CSS Styles for Home Page*******/

.top-container-home {
  background-color: grey;
  border-radius: 0 0 20px 20px;
  margin: auto;

}

.hfo-img {
  height: 15rem;
  width: 45rem;
  margin: auto;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3), 0 20px 20px rgba(0, 0, 0, .3);
}

.information-row-home {
  padding-top: 50px;
  width: 55%;
  margin: auto;
  text-align: left;
  line-height: 2;
}


.left-side-img-home {
  float: left;
  height: 15rem;
  width: 20rem;
  margin: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3), 0 20px 20px rgba(0, 0, 0, .3);
}

.buffer-home {
  height: 60px;
}

.heading-home-left {
  text-align: left;
  margin: 5px;
}

.heading-home-right {
  text-align: right;
  float: left;
  margin: 0;
}

.main-text-home {
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
}

.right-side-img-home {
  float: right;
  height: 15rem;
  width: 20rem;
  margin: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3), 0 20px 20px rgba(0, 0, 0, .3);
}

.bottom-container {
  background-color: #BD2000;
  margin: auto;
  border-radius: 20px 20px 0 0;
}

.footer-link {
  display: inline-block;
  position: relative;
  padding: 20px;
  color: #FFBE0F
}

.footer-link:hover {
  color: #FFBE0F;
}

.footer-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFBE0F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bottom-logo-home {
  height: 75px;
  width: 75px;
  margin: auto;
}

.links-home {
  margin: 20px;
}

.donate-link {
  display: inline-block;
  padding: 0;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  color: #FA1E0E;
}

.donate-link:hover {
  color: #FFBE0F;
}

.donate-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFBE0F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.donate-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.box {
  height: 20rem;
  width: 26.67rem;
  position: relative;
  float: right;
  margin: 15px;
}

.box .front,
.box .back {
  position: absolute;
  height: 20rem;
  width: 26.67rem;
  float: right;
  margin: 15px;
  background: #FA1E0E;
  backface-visibility: hidden; cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.200),
  0 -5px 30px rgba(0, 0, 0, 0.200);
  transition: transform .4s;
}

.box .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(800px) rotateX(-180deg);
}

.box .back p{
  margin: 10px 20px;
  text-align: center;
  color: #FEF9EF;
}

.box .front img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  align-content: center;
}

.box:hover .front {
  transform: perspective(800px) rotateX(180deg);
}

.box:hover .back {
  border-radius: 20px;
  transform: perspective(800px) rotateX(0);
}


.box2 {
  height: 20rem;
  width: 26.67rem;
  position: relative;
  float: left;
  margin: 15px;
}

.box2 .front,
.box2 .back {
  position: absolute;
  height: 20rem;
  width: 26.67rem;
  float: left;
  margin: 0;
  background: #FA1E0E;
  backface-visibility: hidden; cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.200),
  0 -5px 30px rgba(0, 0, 0, 0.200);
  transition: transform .4s;
}

.box2 .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(800px) rotateX(-180deg);
}

.box2 .back p{
  margin: 10px 20px;
  text-align: center;
  color: #FEF9EF;
}

.box2 .front img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  align-content: center;
}

.box2:hover .front {
  transform: perspective(800px) rotateX(180deg);
}

.box2:hover .back {
  border-radius: 20px;
  transform: perspective(800px) rotateX(0);
}
/*******About Us Specifics***********/
.middle-container-about-us {
  width: 55%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.about-us-heading {
  color: #FFBE0F;
}

.about-us-img {
  height: 20rem;
  width: 26.67rem;
  float: right;

}

.about-us-img-2 {
  height: 20rem;
  width: 26.67rem;
  float: left;
}

.main-text-about-us {
  text-align: justify;
  font-size: 16px;
}


/*******News Specifics********/

.new-container {
  
}
